/* General styles for form controls */
.form-control,
.form-control-file,
.form-select {
    border: 1px solid #ced4da;
    border-radius: .5rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}

.form-control:focus,
.form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25);
}

/* Styles for select2 multiple selection */
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: .5rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: .5rem;
}

/* Styles for image preview */
.img-thumbnail {
    border: 1px solid #dee2e6;
    border-radius: .5rem;
    padding: .25rem;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .125);
}

/* Styles for alert messages */
.alert {
    border: 1px solid #f5c6cb;
    border-radius: .5rem;
    background-color: #f8d7da;
    color: #721c24;
}

/* Styles for primary button */
.btn-primary {
    border-radius: .5rem;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding: .5rem 1rem;
    /* Adjust padding as needed */
    margin-top: 1rem;
    /* Adjust top margin as needed */
    margin-bottom: 1rem;
    /* Adjust bottom margin as needed */
}

/* Button hover effect */
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Styles for heading */
.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-heading {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 1.5rem;
    background-color: #ffffff;
    color: #007bff;
    font-weight: bold;
    position: relative;
    font-size: 24px;
    animation: colorChange 5s infinite alternate;
}

/* Style for inner border */
.rounded-heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.5rem;
    border: 2px solid #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    z-index: -1;
    transition: background-color 0.3s ease;
}

/* Keyframes for color change animation */
@keyframes colorChange {
    0% {
        color: #007bff;
        border-color: #007bff;
        background-color: #ffffff;
    }

    50% {
        color: #28a745;
        border-color: #28a745;
        background-color: #f8f9fa;
    }

    100% {
        color: #dc3545;
        border-color: #dc3545;
        background-color: #f8d7da;
    }
}

/* Center text in container */
.text-center {
    text-align: center;
}

/* Add spacing between form-group elements */
.form-group {
    margin-bottom: 1.5rem;
    /* Adjust spacing as needed */
}